<div class="container">
    <div class="row headerWrapper">
        <div class="col-4">
            <img src="assets/logos/logo_principal.jpg" alt="logo_principal">
        </div>
        <div class="col-8 sectionInfo">
            <div>
                <span>+5544778833</span>
                <span>info@fintech.com</span>
                <p class="slogan">El mejor negocio para oferentes y demandantes</p>
            </div>
            <div>
                <button class="btn btn-primary">Login</button>
                <p>Créditos concedidos <span> $53.577.950</span></p>
            </div>
        </div>
    </div>
</div>